body
{
    margin: 2rem; padding: 0;
}


/* end game screen */
#win-screen, #lose-screen {
    display: none;
    background-color: lightslategray;
    margin: 0;
    padding: 1rem;
    text-align: center;
    border:solid;
}
#win-screen.show, #lose-screen.show{
    display: block;
    position: absolute;
    top: 35%;
    left: 35%;
    min-width: 20%;
    min-height: 15%;
    z-index: 1000;
}
#win-screen .container, #draw-screen .container {
    background: rgba(253, 255, 252, 1);
    color: rgba(10, 46, 54, 1);
    padding: 3rem;
    margin-top: 2rem;
}

/* Gameboard stuff */
.gameboard
{

}
.row
{
    margin: 0; padding: 0;
}

.tile
{
    font-size: 2.1rem;
    font-family: "Comic Sans MS", cursive, sans-serif;
    display: inline-block;
    text-align: center;
    margin: 0; padding: 0;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    user-select: none;
}

.tile span
{
    height:100%;
    display: inline-flex;
    align-items: center;
}


/* CSS to get the colors to alternate for hidden tiles and change for revealaed title */
.row .hidden, .row:nth-child(2n) .hidden:nth-child(2n)
{
    background-color:rgb(46, 201, 46);
}

.row:nth-child(2n) .hidden, .row .hidden:nth-child(2n)
{  
    background-color:lightgreen;
}

.row .reveal, .row:nth-child(2n) .reveal:nth-child(2n)
{
    background-color: rgb(240, 240, 210);
}

.row:nth-child(2n) .reveal, .row .reveal:nth-child(2n)
{
    background-color: rgb(240, 240, 230);
}

.row .bomb
{
    background-color: red;
    
}

/* CSS to put a border around the game area (but only the game area) */
.tile:first-child
{
    border-left: solid;
}
.tile:last-child
{
    border-right:solid;
}

.row:first-child .tile
{
    border-top: solid;
}

.row:last-child .tile
{
    border-bottom: solid;
}

.tile span.bomb1
{
    color: blue;
}

.tile span.bomb2
{
    color: green;
}

.tile span.bomb3
{
    color: red;
}

.tile span.bomb4
{
    color: purple;
}
