body
{
    margin: 2rem; padding: 0;
}


/* end game screen */
#win-screen, #lose-screen {
    display: none;
    background-color: lightslategray;
    margin: 0;
    padding: 1rem;
    text-align: center;
    border:solid;
}
#win-screen.show, #lose-screen.show{
    display: block;
    position: absolute;
    top: 25%;
    left: 25%;
    min-width: 50%;
    min-height: 15%;
    z-index: 1000;
}
#win-screen .container, #lose-screen .container {
    background: rgba(253, 255, 252, 1);
    color: black;
    padding: 1rem;
    
}

/* scoreboard */
.playarea
{

}

.timer, .minecounter
{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 2rem;
    padding: 0 5rem;
    grid-row: 1;
}

.timer
{
    margin-left: auto;
    grid-column: 2;
}

.minecounter
{
    margin-right: auto;
    grid-column: 3;
}


/* Gameboard stuff */
.gameboard
{

    margin: 0 auto; padding: 0;
    display: grid;
    border: solid;
    width: 30rem;
    

}


.tile
{
    font-size: 2rem;
    font-family: Impact, Charcoal, sans-serif;
    text-align: center;
    margin: 0; padding: 0;

    cursor: pointer;
    user-select: none;

    height: 3rem; width: 3rem;

    background-color:rgb(46, 201, 46);
}

.odd
{
    background-color:lightgreen;
}


.reveal
{
    background-color: rgb(240, 240, 210);

}

.reveal.odd
{
    background-color: rgb(240, 240, 230);

}

.flag
{
    background-image: url('../assets/flag.png');
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;

}

.bomb
{
    background-color: red;
    background-image: url('../assets/bomb.png');
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
    
}

.tile img
{
    margin: 0 auto;
    width: 90%;
    height: 90%;
}


.bomb1
{
    color: blue;
}

.bomb2
{
    color: green;
}

.bomb3
{
    color: red;
}

.bomb4
{
    color: purple;
}

.bomb5
{
    color: orange;
}
